body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.commentBox {
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
}

.commentList {
  background-color: bisque;
  padding: 20px;
  margin: 30px;
}

.commentForm {
  background-color: pink;
}

.userInfo {
  background-color: rgb(221, 221, 80);
}

.comment {
  background-color: yellow;
  margin: 20px;
}

.avatar {
  width: 15px;
  height: 15px;
}